@import "./general/variables";
@import "./general/forms";

* {
    background: none;
    font-family: $mainFont;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    appearance: none;
    box-sizing: border-box;
}

html,
body {
    font-family: $mainFont;
    height: 100%;
}

body {
    print-color-adjust: exact !important;
    
    &.am-modal-open {
        overflow: hidden;
    }
}

main,
section {
    display: block;
}

button {
    cursor: pointer;

    &[disabled] {
        cursor: default;
    }
}

strong {
    font-weight: 700;
}

.am-general {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;

    > router-outlet {
        display: none;
    }
}

.am-middle {
    max-width: 1024px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        padding: 0 20px;
    }
}

main {
    background-color: #f5f5f5;
    padding: 30px 0;
    min-height: calc(100vh - 150px);

    @media (max-width: 720px) {
        min-height: calc(100vh - 100px);
    }
}

.am-default-link {
    color: #2278D2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    transition: all 0.4s;

    &[disabled] {
        color: #ABAAAD;
    }

    &:hover:not([disabled]) {
        text-decoration: none;
    }

    &:active:not([disabled]) {
        opacity: 0.8;
    }

    @media (max-width: 1024px) {
        font-size: 14px;
    }
}

.am-default-button {
    background: $mainColor;
    display: block;
    color: #FFF;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    min-width: 199px;
    height: 40px;
    padding: 0 24px;
    border-radius: 5px;
    border: 1px solid $mainColor;
    transition: background 0.4s, color 0.4s, border 0.4s;

    &[href] {
        line-height: 40px;
        text-align: center;
    }

    &.ib-outlined {
        background: #FFF;
        color: $mainColor;
    }

    &.ib-opposite-bt {
        background: $opositeColor;
        color: $mainColor;
        border-color: $opositeColor;

        &.ib-outlined {
            background: #FFF;
            color: $opositeColor;
            border: solid 1px $opositeColor;
        }

        &:hover:not([disabled]) {
            background-color: #FFF;
            color: rgba($opositeColor, 0.8);
            border-color: rgba($opositeColor, 0.8);
        }

        &:active:not([disabled]) {
            background-color: rgba($opositeColor, 0.4);
            color: rgba($opositeColor, 0.8);
            border-color: rgba($opositeColor, 0.6);
        }
    }

    &[disabled] {
        pointer-events: none;
        background: #8A898E;
        color: #FFF;
        border-color: #8A898E;
    }

    &:hover:not([disabled]) {
        background-color: #FFF;
        color: rgba($mainColor, 0.6);
        border-color: rgba($mainColor, 0.6);
    }

    &:active:not([disabled]) {
        background-color: rgba($mainColor, 0.4);
        color: rgba($mainColor, 0.6);
        border-color: rgba($mainColor, 0.6);
    }

    @media (max-width: 1024px) {
        font-size: 14px;
    }
}