@import "./general/forms";

* {
    background: none;
    font-family: 'arial';
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    appearance: none;
    box-sizing: border-box;
}

html,
body {
    font-family: 'arial';
    height: 100%;
}

body {
    print-color-adjust: exact !important;
    
    &.am-modal-open {
        overflow: hidden;
    }
}

main,
section {
    display: block;
}

button {
    cursor: pointer;

    &[disabled] {
        cursor: default;
    }
}

strong {
    font-weight: 700;
}

.am-general {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;

    > router-outlet {
        display: none;
    }
}

.am-middle {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    background-color: #f5f5f5;
    padding: 30px 0;
    min-height: calc(100vh - 150px);
}