.am-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px 45px;

    .am-logo {
        display: block;

        img {
            display: block;
            width: 170px;
        }
    }

    @media (max-width: 720px) {
        height: 50px;
        padding: 0;

        .am-logo {
            img {
                width: 100px;
            }
        }
    }
}