<main>
    <div class="am-middle">
        <div class="am-featured">
            <h2>O que é Renda Fixa e por que investir?</h2>
            <p>A Renda Fixa é uma modalidade de investimento para quem procura segurança e bons retornos. O investimento é realizado diretamente em Títulos Públicos e Privados de Renda Fixa. Por exemplo, quando você compra um título, está emprestando dinheiro ao emissor do papel, que pode ser um banco, uma empresa ou até mesmo o governo. Em troca, recebe uma remuneração após um determinado prazo com juros e/ou correção monetária, podendo ainda receber parcelas chamadas amortizações.</p>
        </div>

        <div class="am-list-cards">
            <div>
                <h3>CDB</h3>
                <p>Quem compra CDBs empresta dinheiro para os bancos financiarem suas atividades de crédito.</p>
                <a [routerLink]="['/investimentos/cdb']" data-test="am-link-cdb">Simular</a>
            </div>
            <div class="am-disabled">
                <h3>Poupança</h3>
                <p>Além de ser garantida pelo governo, a poupança tem suas regras de funcionamento definidas pelo Banco Central</p>
                <a [routerLink]="['/']" disabled>Simular</a>
            </div>
            <div class="am-disabled">
                <h3>LCI/LCA</h3>
                <p>A LCI (Letra de Crédito Imobiliário) e a LCA (Letra de Crédito do Agronegócio) são dois tipos de investimento em renda fixa isentos de Imposto de Renda, que costumam garantir retornos bem superiores ao da caderneta de poupança.</p>
                <a [routerLink]="['/']" disabled>Simular</a>
            </div>
        </div>
    </div>
</main>